
#alias myname 'set prompt = "\n%{\033[32m%}%m:%~>\n>>"'
alias myname 'set prompt = "\n%{%}%m:%~>\n>>"'

alias fm6 'myname'
alias cl 'clear'
alias xtitle '~/bin/titleFunction.sh \!*'
alias g gvim

# Simple commands
alias ll    'ls -h -l -F --color'
alias lt    'ls -h -ltr -F --color'
alias ls    'ls -h -F --color'
alias la    'ls -h -la -F --color'
alias clean 'rm *~ .*~ *# .#* >& /dev/null'
# GREP
alias grep	'grep --color=auto'
alias grepError 'grep -i ERROR -A 4'
