
alias myname 'set prompt = "\n%{%}%m:%~>\n>>"'
alias c         'clear'
alias xtitle    '~/bin/titleFunction.sh \!*'
alias g         gvim
alias h         'history'
alias j         'jobs -l'
alias hg        'history|grep '
alias psg       'ps -ef | grep'
alias ..        'cd ..'
alias cd..      'cd ..' 
