[alias]
	ci = commit
	co = checkout
	parent = remote show origin
	root = rev-parse --show-toplevel
	st = status
[color]
	ui = auto
[core]
	pager = less -FRSX
	preloadindex = true
[diff]
	mnemonicprefix = true
	renames = true
[intel]
	userInitVersion = 1
[log]
	decorate = true
[merge]
	conflictstyle = diff3
[pack]
	threads = 0
[push]
	default = tracking
[user]
	email = abhishek1.jain@intel.com
	name = Jain, Abhishek1
